body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: Hsl;
}
* {
  transition: 0.15s all;
}
.sketch-area {
  display: grid;
  border: 1px solid black;
  height: 600px;
  width: 600px;
}

.sketch-cell {
  background-color: aliceblue;
  border: 1px solid red;
  cursor: pointer;
}
